<!DOCTYPE html>
<html>
<head>
  <title>LINE通知設定</title>
  <%= stylesheet_link_tag 'application' %> <!-- スタイルシートのリンク -->
  <%= javascript_include_tag 'application' %> <!-- JavaScriptファイルのリンク -->
</head>
<body>
  <header class="header">
    <h1>LINE通知設定</h1>
  </header>
  
  <div class="content">
    <%= link_to 'トップページへ', root_path, class: 'btn-back' %>

    <%= link_to 'マイページへ', user_path(@user), class: 'btn-back' %>
  </div>

  <footer class="footer">
    <!-- フッターの内容 -->
  </footer>
</body>
</html>
