<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>利用規約</title>
<link rel="stylesheet" href="styles.css"> <!-- styles.cssにリンクを追加 -->
</head>
<body>

<header class="header-terms"> <!-- ヘッダー部分にheader-termsクラスを追加 -->
  <div class="container-terms">
    <div class="header-text-terms">
      <h1>利用規約</h1> <!-- ヘッダーテキストを中央揃えに -->
    </div>
    <div class="header-buttons-terms">
      <%= link_to 'トップに戻る', root_path, class: "back-button-terms" %> <!-- トップに戻るボタンを追加 -->
    </div>
  </div>
</header>

<h2>第1条（適用）</h2>
<p>本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されます。</p>

<h2>第2条（利用登録）</h2>
<p>本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社がこれを承認することによって，利用登録が完了するものとします。</p>

<h2>第3条（ユーザーIDおよびパスワードの管理）</h2>
<p>ユーザーは、自己の責任において、本サービスのユーザーIDおよびパスワードを適切に管理するものとします。</p>

<h2>第5条（禁止事項）</h2>
<p>ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>

<h2>第6条（本サービスの提供の停止等）</h2>
<p>当社は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができます。</p>

<h2>第7条（利用制限および登録抹消）</h2>
<p>当社は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができます。</p>

<h2>第8条（退会）</h2>
<p>ユーザーは，当社の定める退会手続により，本サービスから退会できます。</p>

<h2>第9条（保証の否認および免責事項）</h2>
<p>当社は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</p>

<h2>第10条（サービス内容の変更等）</h2>
<p>当社は，ユーザーへの事前の告知をもって、本サービスの内容を変更、追加または廃止することがあり、ユーザーはこれを承諾するものとします。</p>

<h2>第11条（利用規約の変更）</h2>
<p>当社は以下の場合には、ユーザーの個別の同意を要せず、本規約を変更することができるものとします。</p>

<h2>第12条（個人情報の取扱い）</h2>
<p>当社は，本サービスの利用によって取得する個人情報については，当社「プライバシーポリシー」に従い適切に取り扱うものとします。</p>

<h2>第13条（通知または連絡）</h2>
<p>ユーザーと当社との間の通知または連絡は，当社の定める方法によって行うものとします。</p>

<h2>第14条（権利義務の譲渡の禁止）</h2>
<p>ユーザーは，当社の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</p>

<h2>第15条（準拠法・裁判管轄）</h2>
<p>本規約の解釈にあたっては，日本法を準拠法とします。本サービスに関して紛争が生じた場合には，当社の本店所在地を管轄する裁判所を専属的合意管轄とします。</p>

</body>
</html>
