<div class="header">
<h1>ようこそ<%= @user.username %>さん</h1>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout-link' %>
</div>
<p>今日の天気</p>

<div class="button-container">
  <%= link_to '野菜を作る', vegetables_path, class: 'btn-vegetable' %>
</div>