<div class="schedule">
  <h1><%= @selected_vegetable_name %>のスケジュール</h1>

  <div id="calendar"></div>

  <% if @schedules.present? %>
    <% @schedules.each do |schedule| %>
      <div class="schedule-details">
        <%= schedule.details %>
      </div>
    <% end %>
  <% end %>
</div>
