<div class="header">
  <h1><%= @selected_vegetable_name %>のスケジュール</h1>
</div>

<div class="content">
  <div class="schedule">
    <div id="calendar"></div>
    <% if @schedules.present? %>
      <% @schedules.each do |schedule| %>
        <div class="schedule-details">
          <%= schedule.details %>
        </div>
      <% end %>
    <% else %>
      <p>スケジュールはまだ登録されていません。</p>
    <% end %>
  </div>
</div>
