<div class="header">
  <h1><%= @selected_vegetable_name %>のスケジュール</h1>
</div>

<div class="content">
  <div class="schedule">
    <!-- FullCalendarのコンテナ -->
    <div id="calendar" data-schedules='<%= @schedules.to_json.html_safe %>'></div>
  </div>
</div>

<div class="footer">
  <p>Copyright &copy; 2024 Vegetable Service</p>
</div>
