<!DOCTYPE html>
<html>
<head>
  <title>スケジュール</title>
</head>
<body>
  <h1>スケジュール</h1>
  
  <p>選択された野菜: <%= @selected_vegetable %></p>
  
  <!-- ここにスケジュール情報やその他のコンテンツを追加できます -->
  
  <%= link_to '野菜選択画面に戻る', vegetables_path %>
</body>
</html>