<!DOCTYPE html>
<html>
<head>
  <title>野菜選択画面</title>
  <%= stylesheet_link_tag 'vegetable', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'vegetable_selection', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>野菜選択画面</h1>
  </header>
  
  <!-- 野菜ボタンの集まり -->
  <div class="vegetable-buttons">
    <button class='vegetable-button carrot' data-value='carrot'>ニンジン</button>
    <button class='vegetable-button tomato' data-value='tomato'>トマト</button>
    <button class='vegetable-button basil' data-value='basil'>バジル</button>
  </div>

  <!-- 選択された野菜を表示する領域 -->
  <div id="display-selected-vegetable" class="selected-vegetable">
    選択された野菜: なし
  </div>

  <!-- "選択" ボタン -->
  <button id="select-vegetable-button">選択</button>

  <footer>
    <p>Copyright &copy; 2024 Vegetable Service</p>
  </footer>
</body>
</html>
