<%= form_with url: schedule_path, method: :get, local: true do |form| %>
  <div class="vegetable-buttons">
    <label>
      <input type="radio" name="selected-vegetable" value="carrot" class="vegetable-radio" />
      ニンジン
    </label>
    <label>
      <input type="radio" name="selected-vegetable" value="tomato" class="vegetable-radio" />
      トマト
    </label>
    <label>
      <input type="radio" name="selected-vegetable" value="basil" class="vegetable-radio" />
      バジル
    </label>
  </div>
  <button type="submit" class="select-button">選択</button>
<% end %>
