.header {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.content {
    flex: 1;
    padding: 10px; // コンテンツエリアの内側のスペース
    overflow: auto; // コンテンツが多い場合はスクロールを有効に
    margin-top: 290px; // ヘッダーの高さを考慮してmargin-topに変更
    margin-bottom: 300px;
}

.footer {
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

