.header {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.content {
    flex: 1;
    padding: 10px;
    overflow: auto;
    /* ヘッダーの高さに応じてmargin-topを調整します。ヘッダーの高さ＋希望する余白 */
    margin-top: 250px; // この値はヘッダーの実際の高さによって調整する必要があります。
    /* フッターがある場合は、同様にmargin-bottomも調整します。 */
    margin-bottom: 50px; // この値もフッターの高さに応じて調整します。
}

.schedule {
  margin-top: 20px;
  height: 600px;
}