.header-mypage {
  background-color: #09f409;
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 3px solid #09f409;
  justify-content: space-between;
}

.header-mypage h1 {
  color: white;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.header-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.back-to-top-link, .logout-link {
  background-color: #e4f409;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.back-to-top-link:hover, .logout-link:hover {
  background-color: #d4e009;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

.content-wrapper {
  padding-bottom: 100px;
}

/* 説明文のスタイル */
.explanation-text {
  font-size: 18px;
  color: #333;
  background-color: #e0ffe0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1.6;
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* 登録した野菜のスタイル */
.registered-vegetables {
  margin: 20px auto;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.registered-vegetables h3 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.vegetable-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.vegetable-item p {
  margin: 0;
  font-size: 16px;
  color: #333;
  flex: 1;
}

.vegetable-item .btn {
  margin-left: 10px;
}

/* 野菜を選択ボタンのスタイル */
.btn-vegetable-mypage {
  background-color: #e4f409;
  border: none;
  padding: 10px 15px;
  display: block;
  margin: 20px auto;
  color: black;
  text-decoration: none;
  text-align: center;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-vegetable-mypage:hover {
  background-color: #d4e009;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

/* ボタンを囲む親要素のスタイル */
.button-container-mypage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 100px;
  width: 100%;
}

.btn-toggle-graph {
  background-color: #e4f409;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-toggle-graph:hover {
  background-color: #d4e009;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

/* フッターのスタイル */
.footer-mypage {
  background-color: #09f409;
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 3px solid #09f409;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-mypage a, .header-mypage a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.footer-mypage a:hover, .header-mypage a:hover {
  text-decoration: underline;
}

/* LINE通知設定リンクのスタイル */
.line-notification-link-mypage {
  background-color: white;
  border: none;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: auto;
}

.line-notification-link-mypage:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

/* プロフィール編集ボタンのスタイル */
.profile-edit-link-mypage {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.profile-edit-link-mypage:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

.harvest-chart-container,
.savings-chart-container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 20px auto;
}

.harvest-chart-container canvas,
.savings-chart-container canvas {
  max-width: calc(50% - 20px);
  height: auto;
}

.key-data-highlights {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.highlight-card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.highlight-card .card-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.highlight-card .card-text {
  font-size: 16px;
}

.weather-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.weather-info h3 {
  color: #333;
}

.weather-details {
  display: flex;
  align-items: center;
}

.weather-details p {
  margin-bottom: 10px;
}

.weather-icon {
  width: 40px;
  height: auto;
}
